<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/places/discover"></ion-back-button>
    </ion-buttons>
    <ion-title>{{ isLoading ? 'Carregando...' : place.title }}</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content>
  <div *ngIf="isLoading" class="ion-text-center">
    <ion-spinner color="primary"></ion-spinner>
  </div>
  <ion-grid class="ion-no-padding" *ngIf="!isLoading">
    <ion-row>
      <ion-col sizeSm="6" offsetSm="3" class="ion-no-padding">
        <ion-img [src]="place.imageUrl"></ion-img>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col class="ion-text-center" sizeSm="6" offsetSm="3">
        {{ place.description }}
      </ion-col>
    </ion-row>
    <ion-row *ngIf="isBoolable">
      <ion-col sizeSm="6" offsetSm="3">
        <ion-button color="primary" margin (click)="onBookPlace()">Reservar</ion-button>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>