<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/places/discover"></ion-back-button>
    </ion-buttons>
    <ion-title>{{ isLoading ? 'Carregando...' : place.title }}</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content>
  <div *ngIf="isLoading" class="ion-text-center">
    <ion-spinner color="primary"></ion-spinner>
  </div>
  <ion-card *ngIf="!isLoading">
    <ion-img [src]="place.imageUrl"></ion-img>
    <ion-card-header>
      <ion-card-title>{{ place.title }}</ion-card-title>
      <ion-card-title>{{ place.description }}</ion-card-title>
      <br>
      <div class="ion-text-center">
        <ion-button expand="block" color="primary" margin (click)="onBookPlace()">Reservar</ion-button>
      </div>
    </ion-card-header>
    <ion-card-content>
      <ion-img role="button" (click)="onShowFullMap()" class="location-image" [src]="place.location.staticMapImageUrl"></ion-img>
    </ion-card-content>
  </ion-card>
</ion-content>